<p>Rendering index.html via articles#index</p>

<p><%= flash.notice %></p>

<ul><% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article_path(article.id) %>
  </li>
<% end %>
</ul>
